<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Heavysoft.TimesheetParser.PluginInterfaces" version="1.1.5186.0" targetFramework="net451" />
  <package id="Heavysoft.VersionGenerator" version="1.0.0.5" targetFramework="net451" developmentDependency="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
</packages>